name: Haskell

on:
  push:
    branches: [master]
    tags:
      - "v*"
    paths:
      - ".github/workflows/**"
      - "src/**"
      - "package.yaml"
      - "stack*.yaml"
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        resolver:
          - stack-lts-20
          - stack-lts-19
          - stack-lts-18
          - stack-lts-17.14
          - stack-lts-16.1

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: mbg/actions/stack/build@v0.1.2
        with:
          resolver: ${{ matrix.resolver }}
          upload-docs: true
