name: "Pull Request"

on:
  pull_request_target:
    types:
      - opened
      - ready_for_review

jobs:
  add-reviews:
    name: Add Reviewers
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.4
