name: "Stackage Nightly"

on:
  schedule:
    - cron: "5 6 * * *"
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/stackage-nightly.yml"

permissions:
  contents: read
  issues: write

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest

    steps:
      - name: "Clone repository"
        uses: actions/checkout@v4

      - name: "Build with Stack nightly"
        uses: mbg/actions/stack/nightly@v0.1.2
        with:
          create-issue: "true"
