name: "Stackage Nightly"

on:
  schedule:
    - cron: "5 6 * * *"
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - ".github/workflows/stackage-nightly.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: mbg/actions/stack/nightly@main
