name: stackage-nightly

on:
  schedule:
    - cron: "5 6 * * *"
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - ".github/workflows/stackage-nightly.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: haskell/actions/setup@v2
        id: install-haskell
        with:
          stack-no-global: true
          enable-stack: true
          stack-version: "latest"

      - name: Initialise stack.yaml with the nightly snapshot
        run: |
          rm -f stack.yaml && stack init --resolver nightly

      - name: Cache .stack
        id: cache-stack
        uses: actions/cache@v3
        with:
          path: ${{ steps.install-haskell.outputs.stack-root }}
          key: ${{ runner.os }}-${{ hashFiles('stack.yaml') }}-${{ hashFiles('wai-saml2.cabal') }}
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('stack.yaml') }}-

      - name: Build with the nightly snapshot
        run: |
          stack build --resolver nightly --haddock --test --bench --no-run-benchmarks
